@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap");

body {
  background-image: var(--gradient-dark);
  height: 600vh;
  width: 100vw;
}
h1 {
  margin: 0;
  color: var(--secondary);
  font-size: 3rem;
}
h2 {
  font-family: "Source Code Pro", monospace;
  margin: 0;
  color: var(--light);
  font-size: 1.8rem;
  background-color: var(--secondary);
}
.typewritten {
  width: fit-content;
  position: relative;
  background: inherit;
}
.typewritten::before,
.typewritten::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.typewritten::before {
  background: inherit;
  animation: typewriter 4s steps(9) infinite alternate;
}

.typewritten::after {
  width: 0.2em;
  height: 120%;
  margin-top: -2%;
  background: var(--light);
  animation: typewriter 4s steps(9) infinite alternate, blink 0.75s infinite;
}
@keyframes typewriter {
  20% {
    left: 0;
  }
  60% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
canvas {
  position: fixed;
  top: 0;
  height: 150vh;
  width: 100vw;
  z-index: -1;
}
.inner-box {
  position: absolute;
  height: 504px;
  width: 960px;
  left: -1200px;
  background-image: var(--gradient-bright);

  transform: rotate(-60deg) scale(5);
  z-index: -1;
  transition: linear 0.5s;
}

@media screen and (max-width: 500px) {
  .inner-box {
    top: -800px;
    background-image: var(--gradient-faded);
  }
  canvas {
    height: 100vh;
    width: 100vw;
  }
}

.card {
  height: 100vh;
  z-index: 1;
}
h3 {
  color: var(--light);
  font-size: 3rem;
  margin-left: 10%;
}
#Home-content {
  position: relative;
  z-index: 0;
}
#Box1 {
  position: absolute;
  top: 15vh;
  left: 10vw;
}
.card-box {
  margin: 4rem auto;
  width: 70%;
  height: 70vh;
  background-image: var(--gradient-faded);
  border-radius: 30px;
}

.aos-animate {
  .card-box {
    animation: blur 8s forwards;
  }
}
@keyframes blur {
  0% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(8px);
  }
}
