#Timeline {
  color: var(--light);
  font-size: 1.8rem;
  text-align: justify;
  .card-box-content {
    margin: auto;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
