ul {
  list-style-type: none;
}
.sidebar-body ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 100vh;
  width: 70px;
  position: fixed;
  z-index: 9999;

  right: 0;
  background-color: var(--dark);
  svg {
    color: var(--light);
    width: 3vh;
    height: 3vh;
  }
}
li {
  position: relative;
  z-index: 9;
}
